<nav class="py-1 mb-4 lg:mb-8 flex flex-col lg:flex-row">
  <a class="font-bold lg:mr-auto" href="/">Daniel Clarke | Web developer</a>
  <a class="underline mr-3" href="/">Home</a>
  <a class="underline mr-3" href="/about-me">About me</a>
  <a class="underline" href="/lets-connect">Let's connect</a>
</nav>