<!DOCTYPE html>
<html lang="en">
  {% include "_head.njk" %}
  <body class="px-4 leading-relaxed">
    {% include "_nav.njk" %}
    <div class="max-w-xl mx-auto">
      {% include "_page-title.njk" %}
      {% include "_main-html.njk" %}
    </div>
  </body>
</html>